@import "bootstrap/bootstrap";

body {
  font-size: 15px;
  font-family: 'League Spartan', sans-serif;
}

h2, h3, p {
  display: inline-block;
  margin: 0;
}

.main {
  min-height: 100vh;
}

.mb-5 {
  margin-bottom: 4rem !important;
}

.container {
  @include media-breakpoint-up(xxl) {
    max-width: 1100px;
  }
}

.header {
  width: min(375px, 100%);

  & h1 {
    margin: 0;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    line-height: 50px;
  }

  & p {
    color: hsl(303, 10%, 53%);
    font-weight: 500;
  }

  @include media-breakpoint-down(lg){
    & h1 {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-down(md){
    margin: 0 auto;
  }
}

.ratings {
  background: hsl(300, 24%, 96%);
  border-radius: 10px;
  width: 84%;
  padding: 1rem 0;
  
  & p {
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    margin-left: 1.5rem;
  }

  & img {
    margin-bottom: 3px;
    margin-right: 0.4rem;
  }

  @include media-breakpoint-up(lg){
    & img:first-of-type{
      margin-left: 2rem;
    }
  }

  @include media-breakpoint-down(lg){
    padding: 1rem 0;
    width: 100%;

    & p {
      margin-left: 1rem;
    }

    & img {
      margin-right: 0.2rem;
    }
  }

  @include media-breakpoint-down (md){
    padding: 0.7rem 0;
  }

  @include media-breakpoint-down(sm){
    & p {
      margin-left: 0;
    }

    & img {
      margin-bottom: 6px;
    }
  }

  

  
}

.person-cards {
  padding: 2.5rem 2rem 0 2rem;
  border-radius: 10px;
  background: hsl(300, 43%, 22%);

  & img {
    max-width: 40px;
    border-radius: 50%;
  }

  & h2 {
    font-size: 15px;
    color: white; 
    font-weight: 700;
    margin-left: 1rem;
  }

  & .purple-text {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
  }

  & p {
    color: white;
    font-weight: 500;
  }

  @include media-breakpoint-down(lg){
    padding: 2.5rem 2rem 1.5rem 2rem;
  }
}

















.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}